
.container{
    width: 100%;
    height: 400px;
    padding-top: 100px;

}
.box{
    width: 1080px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    margin: auto;


}
.box2{
    width: 600px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box1{
    width: 360px;
    height: 100%;
    text-align: left;
    align-items: center;

}
.logo{
    width: 110px;
    height: 65px;
}
